body {
  /* padding && margin 0 mean no space at the edge*/
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header, main {
  font-size: 2rem;
  font-weight: 700;
  padding: 3.4rem;
  /*display:flex usually comes together with justify-content*/
  display: flex;
  justify-content: space-between; /*This separates "Mode" and React-Switch*/
}

header {
  align-items: center;
}

h1 {
  font-weight: 900;
  margin: 0;
  font-size: 6rem;
  text-align: center;
}

main {
  text-align: center;

}

main img{
  width: 50%;
}

header.dark {
  background-color: #121213;
  color: orange;
  
}